<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments :: page_head('Users - Shopme Admin', 'none')}" ></head>
<body>
<div th:replace="~{navigation :: menu}"></div>

<div class="container-fluid">

  <div class="manage-users">
    <h1 class="text-center">Manage Users</h1>
    <div class="action-icons">
      <a th:href="@{/users/new}" class="action-icon" title="Create new user">
        <i class="fas fa-user-plus fa-2x mr-2"></i>
      </a>

      <a th:href="@{/users/export/csv}" class="action-icon" title="Export to CSV">
        <i class="fas fa-file-csv fa-2x mr-2"></i>
      </a>

      <a th:href="@{/users/export/excel}" class="action-icon" title="Export to Excel">
        <i class="fas fa-file-excel fa-2x mr-2"></i>
      </a>

      <a th:href="@{/users/export/pdf}" class="action-icon" title="Export to PDF">
        <i class="fas fa-file-pdf fa-2x mr-2"></i>
      </a>
    </div>
  </div>


  <div th:replace="~{fragments :: search_form('/users/page/1')}"></div>

  <!--  Column headers-->
  <div class="full-details">
    <table class="table table-bordered table-hover table-responsive-xl">
      <thead class="thead-dark">
          <tr>
            <th class="hideable-column">
            <th th:replace="~{fragments :: column_link('/users', 'id', 'User ID', 'tag')}" />
            </th>

            <th>Photos</th>

            <th class="hideable-column">
            <th th:replace="~{fragments :: column_link('/users', 'email', 'E-mail', 'tag')}" />
            </th>

            <th th:replace="~{fragments :: column_link('/users', 'firstName', 'First Name', 'none')}" />
            <th th:replace="~{fragments :: column_link('/users', 'lastName', 'Last Name', 'none')}" />
            <th th:replace="~{fragments :: column_link('/users', 'roles', 'Roles', 'none')}" />
            <th>Enabled</th>
            <th></th>
          </tr>
      </thead>
      <tbody>
      <tr th:each="user : ${listUsers}">
        <td class="hideable-column">[[${user.id}]]</td>
        <td>
          <span th:if="${user.photos == null}" class="fas fa-portrait fa-3x icon-silver"></span>
          <img th:if="${user.photos != null}" th:src="@{${user.getPhotosImagePath}}"
            style="width: 100px"/>
        </td>
        <td class="hideable-column">[[${user.email}]]</td>
        <td>[[${user.firstName}]]</td>
        <td>[[${user.lastName}]]</td>
        <td>[[${user.roles}]]</td>
        <td>
          <div th:replace="~{fragments :: status(${user.enabled}, 'user')}"></div>
        </td>
        <td>
          <div th:replace="~{fragments :: edit('user', '/users/edit/' + ${user.id})}"></div>
          &nbsp;&nbsp;
          <div th:replace="~{fragments :: delete('user', ${user.id}, '/users/delete/' + ${user.id}, true)}" />
        </td>
      </tr>
      </tbody>
    </table>
  </div>

  <div class="less-details">
    <div th:each="user : ${listUsers}" class="row m-1">
      <div class="col-4">
        <div th:replace="~{fragments :: user_photos}" />
      </div>
      <div class="col-8">
        <div>[[${user.getFullName}]]</div>
        <div>[[${user.roles}]]</div>
        <div class="mt-2">
          <div th:replace="~{fragments :: status(${user.enabled}, 'user')}"></div>
          &nbsp;
          <div th:replace="~{fragments :: edit('user', '/users/edit/' + ${user.id})}"></div>
          &nbsp;
          <div th:replace="~{fragments :: delete('user', ${user.id}, '/users/delete/' + ${user.id}, true)}" />
        </div>
      </div>
      <div>&nbsp;</div>
    </div>
  </div>

  <div th:replace="~{fragments :: pagination_user('/users', 'users')}"></div>


  <div th:replace="~{model_fragments :: confirm_modal}"></div>

</div>
<script th:src="@{/js/common_list.js}"></script>
<script type="text/javascript">
  let moduleURL = "[[@{/users}]]"

  $(document).ready(function() {
    $(".link-delete").on("click", function(e) {
      e.preventDefault();
      showDeleteConfirmModal($(this), 'user');
    });
  });


</script>
</body>
</html>

