<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments :: page_head('Users - Shopme Admin')}" ></head>
<body>
<div th:replace="~{navigation :: menu}"></div>

<div class="container-fluid">

  <div class="manage-users">
    <h1 class="text-center">Manage Users</h1>
    <div class="action-icons">
      <a th:href="@{/users/new}" class="action-icon" title="Create new user">
        <i class="fas fa-user-plus fa-2x mr-2"></i>
      </a>

      <a th:href="@{/users/export/csv}" class="action-icon" title="Export to CSV">
        <i class="fas fa-file-csv fa-2x mr-2"></i>
      </a>

      <a th:href="@{/users/export/excel}" class="action-icon" title="Export to Excel">
        <i class="fas fa-file-excel fa-2x mr-2"></i>
      </a>

      <a th:href="@{/users/export/pdf}" class="action-icon" title="Export to PDF">
        <i class="fas fa-file-pdf fa-2x mr-2"></i>
      </a>
    </div>
  </div>

  <div th:if="${message != null}" class="alert alert-success text-center" id="successMessage">
    [[${message}]]
  </div>

  <div th:replace="~{fragments :: search_form('/users/page/1')}"></div>

  <!--  Column headers-->
  <div class="full-details">
    <table class="table table-bordered table-hover table-responsive-xl">
      <thead class="thead-dark">
          <tr>
            <th class="hideable-column">
            <th th:replace="~{fragments :: column_link('id', 'User ID', 'tag')}" />
            </th>

            <th>Photos</th>

            <th class="hideable-column">
            <th th:replace="~{fragments :: column_link('email', 'E-mail', 'tag')}" />
            </th>

            <th th:replace="~{fragments :: column_link('firstName', 'First Name', 'none')}" />
            <th th:replace="~{fragments :: column_link('lastName', 'Last Name', 'none')}" />
            <th th:replace="~{fragments :: column_link('roles', 'Roles', 'none')}" />
            <th>Enabled</th>
            <th></th>
          </tr>
      </thead>
      <tbody>
      <tr th:each="user : ${listUsers}">
        <td class="hideable-column">[[${user.id}]]</td>
        <td>
          <span th:if="${user.photos == null}" class="fas fa-portrait fa-3x icon-silver"></span>
          <img th:if="${user.photos != null}" th:src="@{${user.getPhotosImagePath}}"
            style="width: 100px"/>
        </td>
        <td class="hideable-column">[[${user.email}]]</td>
        <td>[[${user.firstName}]]</td>
        <td>[[${user.lastName}]]</td>
        <td>[[${user.roles}]]</td>
        <td>
          <div th:replace="~{fragments :: user_status}"></div>
        </td>
        <td>
          <div th:replace="~{fragments :: user_actions}"/>
        </td>
      </tr>
      </tbody>
    </table>
  </div>

  <div class="less-details">
    <div th:each="user : ${listUsers}" class="row m-1">
      <div class="col-4">
        <div th:replace="~{fragments :: user_photos}" />
      </div>
      <div class="col-8">
        <div>[[${user.getFullName}]]</div>
        <div>[[${user.roles}]]</div>
        <div class="mt-2">
          <div th:replace="~{fragments :: user_status}" />
          &nbsp;
          <div th:replace="~{fragments :: user_actions}" />
        </div>
      </div>
      <div>&nbsp;</div>
    </div>
  </div>

<!--  <div th:replace="~{fragments :: pagination('/users', 'users')}"></div>-->

  <div class="text-center m-1" th:if="${totalItems > 0}">
    <span>Showing users # [[${startCount}]] to [[${endCount}]] of [[${totalItems}]]</span>
  </div>
  <div class="text-center m-1" th:unless="${totalItems > 0}">
    <span>No users found</span>
  </div>


<!--    Pagination-->
  <div th:if="${totalPages > 1}">
    <nav>
      <ul class="pagination justify-content-center flex-wrap">
        <li th:class="${currentPage > 1 ? 'page-item' : 'page-item disabled'}">
            <a th:replace="~{fragments :: page_link(1, 'First')}"></a>
        </li>
        <li th:class="${currentPage > 1 ? 'page-item' : 'page-item disabled'}">
            <a th:replace="~{fragments :: page_link(${currentPage - 1}, 'Previous')}"></a>
        </li>

        <th:block th:if="${totalPages <= 5}">
        <li th:class="${currentPage != i ? 'page-item' : 'page-item active'}"
            th:each="i : ${#numbers.sequence(1, totalPages)}">
          <a th:replace="~{fragments :: page_link(${i}, ${i})}"></a>
        </li>
        </th:block>

        <th:block th:if="${totalPages > 5}">
          <th:block th:if="${currentPage <= 3 || currentPage > totalPages - 2}">
              <li th:class="${currentPage != i ? 'page-item' : 'page-item active'}"
                  th:each="i : ${#numbers.sequence(1, 3)}">
                <a th:replace="~{fragments :: page_link(${i}, ${i})}"></a>
              </li>

              <a th:replace="~{fragments :: page_link(4, '...')}"></a>
<!--              <a class="page-link" th:href="@{'/users/page/4?sortField=' + ${sortField} + '&sortDir=' + ${sortDir} }">...</a>-->

              <li th:class="${currentPage != i ? 'page-item' : 'page-item active'}"
                  th:each="i : ${#numbers.sequence(totalPages - 2, totalPages)}">
                <a th:replace="~{fragments :: page_link(${i}, ${i})}"></a>
              </li>
          </th:block>

          <th:block th:if="${currentPage > 3 && currentPage <= totalPages - 2}">
              <a th:replace="~{fragments :: page_link(${currentPage - 3}, '...')}"></a>
<!--              <a class="page-link" th:href="@{'/users/page/' + ${currentPage - 3} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">...</a>-->

              <li th:class="${currentPage != i ? 'page-item' : 'page-item active'}"
                  th:each="i : ${#numbers.sequence(currentPage - 2, currentPage + 1)}">
                <a th:replace="~{fragments :: page_link(${i}, ${i})}"></a>
              </li>

            <a th:replace="~{fragments :: page_link(${currentPage + 2}, '...')}"></a>
<!--              <a class="page-link" th:href="@{'/users/page/' + ${currentPage + 2} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">...</a>-->
          </th:block>


        </th:block>

        <li th:class="${currentPage != totalPages ? 'page-item' : 'page-item disabled'}">
          <a th:replace="~{fragments :: page_link(${currentPage + 1}, 'Next')}"></a>
        </li>
        <li th:class="${currentPage != totalPages ? 'page-item' : 'page-item disabled'}">
          <a th:replace="~{fragments :: page_link(${totalPages}, 'Last')}"></a>
        </li>
      </ul>
    </nav>
  </div>


  <div th:replace="~{model_fragments :: confirm_modal}"></div>

</div>
<script th:src="@{/js/common_list.js}"></script>
<script type="text/javascript">
  let moduleURL = "[[@{/users}]]"

  $(document).ready(function() {
    $(".link-delete").on("click", function(e) {
      e.preventDefault();
      showDeleteConfirmModal($(this), 'user');
    });
  });

  setTimeout(function() {
    let successMessage = document.getElementById('successMessage');
    if (successMessage) {
      successMessage.style.display = 'none';
    }
  }, 2000);


</script>
</body>
</html>

