<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<head th:replace="fragments :: page_head('Shopme', 'tag')" />
	<link rel="stylesheet" th:href="@{/index.css}" />
</head>

<body>

<div th:replace="navigation :: header_menu"></div>
<div th:replace="navigation :: search_nav"></div>
<div class="container-fluid">

	<div class="header">
		<h1>Shopping by Categories</h1>
	</div>

	<div class="container">
		<div class="category">
			<div class="category-item" th:each="cat : ${listCategories}">
				<a th:href="@{'/category/' + ${cat.alias}}" >
						<img th:src="@{${cat.imagePath}}" alt="Category Image" />
						<p th:text="${cat.name}"></p>
				</a>
			</div>
		</div>
	</div>

</div>
</body>
</html>
