<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head th:replace="~{fragments :: page_head('Home - Shopme Admin', 'none')}" />
<body>
<div th:replace="~{navigation :: menu}"></div>

<div class="container-fluid">
    <div>
        <h2>Shopme Control Panel</h2>
        Welcome <a th:href="@{/account}"
           sec:authentication="principal.fullName"></a>
        <span sec:authentication="principal.authorities"></span>
    </div>
    <div class="text-center m-3">
        <p>Shopme Control Panel - Copyright &copy; Shopme</p>
    </div>

</div>
</body>
</html>

