<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments :: page_head('Categories - Shopme Admin', 'none')}" ></head>
<body>
<div th:replace="~{navigation :: menu}"></div>


<div class="container-fluid">

  <div class="manage-users">
    <h1 class="text-center">Categories Page</h1>
    <div class="action-icons">
      <a th:href="@{/categories/new}" class="action-icon" title="Create new Category">
        <i class="fas fa-folder-plus fa-2x mr-2"></i>
      </a>

      <a th:href="@{/categories/export/csv}" class="action-icon" title="Export to CSV">
        <i class="fas fa-file-csv fa-2x mr-2"></i>
      </a>

    </div>



    <div th:replace="~{fragments :: search_form('/categories/page/1')}"></div>

  <!--  Column headers-->
  <div class="full-details">
    <table class="table table-bordered table-hover table-responsive-xl">
      <thead class="thead-dark">
          <tr>
            <th>ID</th>
            <th>Category Image</th>

            <th th:replace="~{fragments :: column_link('/categories', 'name', 'Category Name', 'none')}" />

            <th class="hideable-column">Alias</th>
            <th>Enabled</th>
            <th></th>
          </tr>
      </thead>
      <tbody>
      <tr th:each="category : ${categories}">
        <td>[[${category.id}]]</td>
        <td>
          <img th:src="@{${category.imagePath}}" style="width: 100px" class="img-fluid">
        </td>
        <td>[[${category.name}]]</td>
        <td class="hideable-column">[[${category.alias}]]</td>
        <td>
          <div th:replace="~{fragments :: status(${category.enabled}, 'category')}"></div>
        </td>
        <td>
          <div th:replace="~{fragments :: edit('category', '/categories/edit/' + ${category.id})}"></div>
          &nbsp;
          <div th:replace="~{fragments :: delete('category', ${category.id}, '/categories/delete/' + ${category.id}, ${!category.hasChildren})}" />
        </td>
      </tr>
      </tbody>
    </table>
  </div>

    <div class="less-details">
      <div th:each="cat : ${categories}" class="row m-1">
        <div class="col-4">
          <img th:src="@{${cat.imagePath}}" style="width: 100px" class="img-fluid"/>
        </div>
        <div class="col-8">
          <div>[[${cat.name}]]</div>
          <div class="mt-2">
            <div th:replace="~{fragments :: status(${cat.enabled}, 'category')}"></div>
            &nbsp;
            <div th:replace="~{fragments :: edit('category', '/categories/edit/' + ${cat.id})}"></div>
            &nbsp;
            <div th:replace="~{fragments :: delete('category', ${cat.id}, '/categories/delete/' + ${cat.id}, ${!cat.hasChildren})}" />
          </div>
        </div>
        <div>&nbsp;</div>
      </div>
    </div>

  <div th:if="${keyword != null}" class="text-center">
    <span>Search result does not show categories in hierarchical form</span>
    <div th:replace="~{fragments :: pagination('/categories', 'categories')}"></div>
  </div>

  <th:block th:unless="${keyword != null}">
    <div th:replace="~{fragments :: pagination('/categories', 'top-level categories')}"></div>
  </th:block>

  <div th:replace="~{model_fragments :: confirm_modal}"></div>

  </div>
</div>
<script th:src="@{/js/common_list.js}"></script>
<script type="text/javascript">
  let moduleURL = "[[@{/categories}]]";

  $(document).ready(function() {
    $(".link-delete").on("click", function(e) {
      e.preventDefault();
      showDeleteConfirmModal($(this), 'category');
    });
  });
</script>
</body>
</html>

